<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Qué es INARGIA?</h2>
        <p class="lead">Somos una organización que brinda soluciones de ingeniería enfocadas en energías renovables a nivel mundial</p>
      </div>

      <div id="inargia_hype_container" style="margin:auto;position:relative;width:600px;height:400px;overflow:hidden;">
        <script type="text/javascript" charset="utf-8" src="animation.hyperesources/inargia_hype_generated_script.js?97716"></script>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
