<section id="about" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>{{ site.data.translations.about.title[page.lang] }}</h2>
        <hr class="small">
        <p class="lead">{{ site.data.translations.about.description[page.lang] }}</p>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 panel panel-primary" style="padding-right: 0; padding-left: 0">
          <div class="panel-heading text-center">
            <h2 class="panel-title">{{ site.data.translations.about.values-title[page.lang] }}</h2>
          </div>
            <ul class="list-group">
              <li class="list-group-item panel-body">{{ site.data.translations.about.values1[page.lang] }}</li>
              <li class="list-group-item panel-body">{{ site.data.translations.about.values2[page.lang] }}</li>
              <li class="list-group-item panel-body">{{ site.data.translations.about.values3[page.lang] }}</li>
              <li class="list-group-item panel-body">{{ site.data.translations.about.values4[page.lang] }}</li>
            </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12 panel panel-primary" style="padding-right: 0; padding-left: 0">
          <div class="panel-heading text-center">
            <h2 class="panel-title">{{ site.data.translations.about.mission-title[page.lang] }}</h2>
          </div>
          <div class="panel-body">
            <p class="lead">{{ site.data.translations.about.mission-description[page.lang] }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12 panel panel-primary" style="padding-right: 0; padding-left: 0">
          <div class="panel-heading text-center">
            <h2 class="panel-title">{{ site.data.translations.about.vision-title[page.lang] }}</h2>
          </div>
          <div class="panel-body">
            <p class="lead">{{ site.data.translations.about.vision-description[page.lang] }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
