<section id="casos-de-uso-solar-particular" class="bg-primary">
  <img class="img-use-case-banner" src="img/particular2.png">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Energia solar en particulares</h2>
        <br/>
        <br/>
        <span>
          Instalaciones de paneles solares para uso particular requiere durabilidad y mantenimiento mínimo, para asegurar el mejor retorno de la inversión.
        </span>
        <br/>
        <br/>
        <span>
          Nosotros ofrecemos la instalación de nuestros sensores en sus plantas ya activas o por serlo, y listo! Nuestro sistema se encargará de proveerle
          en tiempo real los valores de medición precisos y también reportes provenientes de nuestros analistas o de nuestro sistema de Machine Learning.
        </span>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
