<section id="casos-de-uso" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>{{ site.data.translations.use-cases.title[page.lang] }}</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#casos-de-uso-solar-particular">
                <img class="img-portfolio img-responsive" src="/public/img/particular.jpg">
                <div class="use-case-overlay">
                  <div class="use-case-overlay-text">{{ site.data.translations.use-cases.domestic-short[page.lang] }}</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#casos-de-uso-solar-industrial">
                <img class="img-portfolio img-responsive" src="/public/img/industrial.jpeg">
                <div class="use-case-overlay">
                  <div class="use-case-overlay-text">{{ site.data.translations.use-cases.industrial-short[page.lang] }}</div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
