<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4 style="color:white;"><strong>{{ site.title }}</strong>
        </h4>
        <br>
        <ul class="list-inline">
          <li class="footer-social-media-buttons">
            <a href="https://www.linkedin.com/company/{{ site.linkedin }}" target="_blank">
              <i class="fa fa-linkedin fa-fw fa-3x"></i>
            </a>
            <a href="mailto:{{ site.email }}" target="_blank">
              <i class="fa fa-envelope fa-fw fa-3x"></i>
            </a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted" style="color:white;">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
