<section id="about" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>{{ site.data.translations.about.values-title[page.lang] }}</h2>
        <hr class="small">
      </div>

      <div class="col-md-3">
        <div class="col-md-12 panel panel-info" style="padding-right: 0; padding-left: 0">
          <div class="panel-heading text-center">
            <h2 class="panel-title">{{ site.data.translations.about.innovation-title[page.lang] }}</h2>
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-lightbulb-o fa-stack-1x" style="color: white"></i>
            </span>
            <div class="panel-body">{{ site.data.translations.about.innovation-description[page.lang] }}</div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="col-md-12 panel panel-danger" style="padding-right: 0; padding-left: 0">
          <div class="panel-heading text-center">
            <h2 class="panel-title">{{ site.data.translations.about.commitment-title[page.lang] }}</h2>
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-users fa-stack-1x" style="color: white"></i>
            </span>
            <div class="panel-body">{{ site.data.translations.about.commitment-description[page.lang] }}</div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="col-md-12 panel panel-warning" style="padding-right: 0; padding-left: 0">
          <div class="panel-heading text-center">
            <h2 class="panel-title">{{ site.data.translations.about.passion-title[page.lang] }}</h2>
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-heart-o fa-stack-1x" style="color: white"></i>
            </span>
            <div class="panel-body">{{ site.data.translations.about.passion-description[page.lang] }}</div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="col-md-12 panel panel-success" style="padding-right: 0; padding-left: 0">
          <div class="panel-heading text-center">
            <h2 class="panel-title">{{ site.data.translations.about.eco-title[page.lang] }}</h2>
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-leaf fa-stack-1x" style="color: white"></i>
            </span>
            <div class="panel-body">{{ site.data.translations.about.eco-description[page.lang] }}</div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
